@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme inline {
  --color-primary: #171717;
  --color-accent: #AA9B8C;
  --color-bg-alt: #F5F5F5;
  --color-text: #333333;
  --font-sans: "Sora", sans-serif;
}
